{% extends 'base.html' %}{% load static %} {% block content %}
<div class="homepage">
  <h1>Bienvenido a la SENA APP</h1>
  <p class="slogan">Gestión de aprendices - ADSO</p>
</div>
<div class="text-center">
  <img
    src="{% static 'assets/images/portada.jpg' %}"
    class="rounded"
    alt="Portada SENA APP"
  />
  <div class="cta">
    <a
      href="{% url 'aprendices:lista_aprendices' %}"
      class="btn btn-success ms-2"
      >Ver lista de aprendices</a
    >
  </div>
</div>
{% endblock %}
